@import url(http://webfonts.ru/import/roundsblack.css);
@import url(http://webfonts.ru/import/sansation.css);
@import url(http://webfonts.ru/import/idealist.css);
@import url(http://webfonts.ru/import/jura.css);

body {
    font-family: 'Source Sans Pro', sans-serif;

    min-height: 400px;
    color: #333;
    line-height: 1.4em;
}
* {
    box-sizing: border-box;
}

.hero-group {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    height: 100vh;
}

.continue {
    text-align: center;
}
.continue--link {
    color: hsl(200, 100, 50);
}

.big-section-outer {
    width: 100%;
    padding: 10px;
}

.big-section {
    margin: 0 auto;
    max-width: 550px;
}
.big-section--text {
    padding-top: 15px;
    padding-bottom: 15px;
}

.big-header {
    font-family: 'Idealist';
    font-size: 24px;
    line-height: 40px;
}

.big-section--hero {
    max-width: 900px;
}
.hero-header {
    font-family: 'Idealist';
    text-align: center;
    font-size: 40px;
    line-height: 55px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-form {
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.hero-form__input {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 55px;
    border: 1px #ccc solid;
    font-size: 30px;
    margin-bottom: 5px;
    flex: 1 1 auto;
}
.hero-form__button {
    border: 2px #393 solid;
    background-color: #5a5;
    font-size: 20px;
    color: white;
    height: 40px;
    border-radius: 50px;
}
.hero-form__button:hover {
    background-color: #585;
    border-color: #353;
}

.reasons-list {
    margin: 0;
    padding: 0;
}
.reasons-list > li {
    margin-bottom: 10px;
}
.reason-details {
    display: block;
    color: #999;
}

.big-footer {
    margin: 10px;
    margin-top: 30px;
    font-size: 11px;
    text-align: right;
}
