@import url(http://webfonts.ru/import/sourcesans.css);

body {
    font-family: 'Source Sans Pro', sans-serif;

    min-height: 400px;
    color: #333;
    line-height: 1.4em;
}
* {
    box-sizing: border-box;
}
